/* font-family: 'Libre Baskerville', serif; */
/* font-family: 'Roboto', sans-serif; */
:root {
  --color-grey: #414141;
  --color-yellow: rgb(228, 175, 114);
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  height: 80px;
  min-width: 320px;
  background-color: white;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.58);
  position: sticky;
  top: -1px;
  z-index: 10;
}
.header-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ----menu----- */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-right: 5%;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu-toggle.js-close-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.icon-modal {
  width: 25px;
  height: 25px;
}
.mobile-menu {
  padding: 0;
  margin: 30px 0px 0px 0px;
  list-style: none;
  text-align: end;
}
.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #414141;
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
}
.link:hover {
  color: rgb(228, 175, 114);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* -----banner----- */
.banner {
  background-image: url('../imgs/Banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}
.banner__bg {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner__title {
  font-family: 'Libre Baskerville', serif;
  color: white;
  font-style: italic;
  font-weight: 500;
  font-size: 54px;
  margin: 20px 20px 20px 20px;
  max-width: 300px;
  text-align: start;
}
.banner__text {
  font-family: 'roboto', serif;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  padding: 0;
  margin: 0 0 25px 0;
  min-width: 300px;
}
.banner__line {
  width: 280px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}
.margin {
  width: 100%;
  padding: 25px;
}
.card__title {
  font-family: 'Libre Baskerville', serif;
  color: #414141;
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
}
.card__title::first-letter {
  font-size: 40px;
}
.card__text {
  font-family: 'Roboto', serif;
  color: #414141;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.6em;
}
.container-card__link {
  display: flex;
  align-items: center;
}
.card__link {
  font-family: 'Libre Baskerville', serif;
  color: #414141;
  font-style: italic;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
}
.card__link:hover {
  color: rgb(228, 175, 114);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link-line {
  width: 100px;
  height: 2px;
  background-color: rgb(228, 175, 114);
  margin-left: 25px;
}
.content-images-gb {
  display: flex;
  justify-content: flex-end;
}
.images-gb {
  width: 250px;
  height: 200px;
  margin-top: 30px;
  background-color: #f7efe9;
  position: relative;
}
.services-images-carrusel {
  width: 250px;
  height: 200px;
  right: 30px;
  top: 30px;
  border: 1px solid black;
  position: absolute;
}
.footer {
  margin-top: 25px;
  padding: 25px;
  width: 100%;
}
.container-footer__address {
  font-family: 'Libre Baskerville', serif;
  color: #414141;
  font-style: italic;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}
.container-footer__line {
  width: 100px;
  height: 2px;
  background-color: var(--color-yellow);
  margin: 30px 0 30px 0;
}
.container-footer__list {
  list-style: none;
  padding: 0%;
}
.container-footer__item > a {
  font-family: 'Libre Baskerville', serif;
  color: #414141;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-decoration: none;
}
.box-button {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.button {
  width: 280px;
  height: 60px;
  font-weight: 400;
  font-size: 20px;
  padding: 0%;
  border: 1px solid var(--color-yellow);
  font-family: 'Libre Baskerville', serif;
  color: #414141;
  font-style: italic;
  background-color: transparent;
}
.button:hover {
  cursor: pointer;
  color: var(--color-yellow);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.copyright {
  width: 100%;
  margin-top: 50px;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
  font-family: 'Libre Baskerville', serif;
  color: #414141;
  font-style: italic;
}
.menu-row {
  display: none;
}
@media screen and (min-width: 560px) {
  .services,
  .galerie,
  .temoignages {
    display: flex;
    justify-content: space-between;
  }
  .card__text {
    padding-right: 30px;
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .menu-row {
    display: flex;
    padding-right: 10px;
    width: 100%;
    max-width: 660px;
  }
  .menu-row__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0%;
    width: 100%;
  }
  .menu-row__link {
    font-family: 'Roboto', serif;
    color: #414141;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
  }
  .menu-row__link:hover {
    color: var(--color-yellow);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* -------- */
  .container-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .container-footer__address {
    min-width: 260px;
  }
  .container-footer__line {
    width: 2px;
    height: 50px;
    margin: 0 60px 0 60px;
  }
  .container-footer__list {
    margin: 0%;
  }
  .box-button {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .menu-row {
    padding-right: 50px;
  }
  .container-footer__line {
    margin: 0 20px 0 20px;
  }
  .box-button {
    margin: 0%;
  }
  .container-footer__linetwo {
    width: 2px;
    height: 50px;
    margin: 0 20px 0 20px;
    background-color: var(--color-yellow);
  }
}
